# java
*.class
*.jar
*.war
*.ear

# gradle
.gradle/
build/
!gradle-wrapper.jar

# spring-boot
target/
*.log
*.bak
*.swp
test-output/

# dev
.vscode/
.DS_Store
Thumbs.db
*.log
*.tmp
*.temp
*.pid
*.out

# for init
workscripts

# for git
.github
backend/.gitattributes
